<div *ngIf="_router.url === '/ticketCategory/'+AssignedByUSer">
  <div class="row">
  <div class="col-md-12 text-center">
    <div class="row">
      <div class="col-md-2">
        <div class="pull-right div-value" >
        </div>
      </div>
      <div class="col-md-2 type-div">
        <label  >Type</label><br>
        <select name="deviceType" class="form-control" [(ngModel)]="deviceType">
          <option value="MOBILE">Mobile</option>
          <option value="LAPTOP">Laptop</option>
        </select>
      </div>
      <div class="col-md-4">
        <h3>Select Category</h3>

        <ng-select [allowClear]="true"
                   [items]="categoryList"
                   [disabled]="disabled"
                   (data)="refreshValue($event)"
                   (selected)="selected($event)"
                   (removed)="removed($event)"
                   (typed)="typed($event)"
                   placeholder="No Category selected">
        </ng-select>


      </div>
      <div class="pull-left div-val" >
        <button  type="btn" class="btn btn-danger" (click)="DisplayTable(deviceType,selectedValue)" >Search Tickets</button>
        <button   type="btn" *ngIf="uservalue=='ADMIN'||uservalue=='HELPLINE'" class="btn btn-primary" (click)=" CreateTicket(userId)" >Create Ticket</button>

      </div>
      <div >
      </div>


    </div>

  </div>
</div>
<section class="success" >
  <div class="container">
    <table class="table table-striped" [mfData]="filterCatagory" #mf="mfDataTable" [mfRowsOnPage]="5">
      <thead>
      <tr>
        <th style="width: 13.5%">
          <mfDefaultSorter by="id">Ticket Id</mfDefaultSorter>
        </th>
        <th style="width: 13.5%">
          <mfDefaultSorter by="ticketName">Ticket Name</mfDefaultSorter>
        </th>
        <th style="width: 13.5%">
          <mfDefaultSorter by="ticketDiscription">Discription</mfDefaultSorter>
        </th>
        <th style="width: 13.5%">
          <mfDefaultSorter by="ticketPriorty">Prority</mfDefaultSorter>
        </th>
        <th style="width: 13.5%">
          <mfDefaultSorter by="ticketStatus">Status</mfDefaultSorter>
        </th>
        <th style="width: 13.5%">
          <mfDefaultSorter by="Actions">Actions</mfDefaultSorter>
        </th>

      </tr>
      </thead>
      <tbody >
      <tr *ngFor="let item of this.filterCatagory;let position=index" >
        <td bgcolor="#6495ed">{{item.id}}</td>
        <td bgcolor="#6495ed">{{item.ticketName}}</td>
        <td bgcolor="#6495ed" >{{item.ticketDiscription}}</td>
        <td bgcolor="#6495ed">{{item.ticketPriorty}}</td>
        <td bgcolor="#6495ed">{{item.ticketStatus}}</td>

        <!--<td><select  *ngIf="uservalue=='ADMIN'"  [(ngModel)]="users" (ngModelChange)="select(users,item.id)" >
          <option *ngFor="let c of filterUsers" [ngValue]="c.id">{{c.name}}</option>
        </select></td>-->


        <td>
          <button type="button" class="btn btn-default btn-sm" (click)="view(item.id)">
            <span class="glyphicon glyphicon-eye-open"></span>
          </button>
          <button type="button"  *ngIf="uservalue=='TECHNICAL'" class="btn btn-default btn-sm" (click)="edit(item.id)">
            <span class="glyphicon glyphicon-pencil"></span>
          </button>
          <button type="button" class="btn btn-default btn-sm" (click)="delete(item.id,position)">
          <span class="glyphicon glyphicon-remove"></span>
          </button>
           <span *ngIf="(uservalue=='ADMIN' && item.AssignedToUser!=0)||(uservalue=='TECHNICAL'&& item.AssignedToUser!=0 )" class="glyphicon glyphicon-ok"></span>
          <span *ngIf="uservalue=='ADMIN' && item.AssignedToUser===0" class="glyphicon glyphicon-hand-left"></span>
          <button type="button"  *ngIf="uservalue=='TECHNICAL'&& item.AssignedToUser===0"  class="btn btn-default btn-sm" (click)="assignUser(item.id)">
            <span class="glyphicon glyphicon-hand-left"></span>
          </button>
        </td>

      </tr>
      </tbody>
      <tbody *ngIf="filterCatagory.length==0">
      <tr>
        <td colspan="100" class="text-center">
          <p>No Tickets are Registered!!!</p>
        </td>
      </tr>
      </tbody>

      <tfoot>
      <tr>
        <td colspan="4">
          <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</section>

<!--
///////////////////////////////////View Modal////////////////////////////////
-->
<div bsModal #viewModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
      <div class="modal-header">
        <h2 class="modal-title text-center">View Ticket</h2>
      </div>

        <table class="table">
          <tbody>

          <tr>
            <td class="text-primary"><i></i> Ticket No</td>
            <td>{{viewRecord.Ticket_No}}</td>
          </tr>
          <tr>
            <td class="text-primary"><i></i> Ticket Name</td>
            <td>{{viewRecord.name}}</td>
          </tr>
          <tr>
            <td class="text-primary"><i></i> Ticket Discription</td>
            <td>{{viewRecord.Discription}}</td>
          </tr>
          <tr>
            <td class="text-primary"><i></i> Category</td>
            <td>{{viewRecord.category}}</td>
          </tr>
          <tr>
            <td class="text-primary"><i></i> Type </td>
            <td>{{viewRecord.type}}</td>
          </tr>
          <tr>
            <td class="text-primary"><i></i> Status</td>
            <td>{{viewRecord.status}}</td>
          </tr>

          <tr  *ngIf="uservalue=='ADMIN'">
            <td class="text-primary"><i></i> Assign To User</td>
            <td>
              <div *ngIf="filterUsers.length > 0">
                <ng-select #ng [allowClear]="true"
                           [items]="filterUsers"
                           (data)="refresh($event)"
                           (typed)="type($event)"
                           placeholder="No item selected">
                </ng-select>
              </div>
            </td>
          </tr>
          <button type="button"  *ngIf="uservalue=='ADMIN'" class="btn btn-default btn-sm" (click)="assignUser(viewRecord.Ticket_No)">Save</button>
          <div class="alert alert-success" *ngIf="temp==1">
            <strong>Success!</strong> You are successfully Saved
          </div>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!--///////////////////////////////deleteModal/////////////////////////////&ndash;&gt;-->
<div bsModal #deleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <button type="button" class="close pull-right" aria-label="Close" >
              <span aria-hidden="true">&times;</span>
            </button>
            <p>Do You Want To Delete Ticket Id:- #{{deleteKey}}</p>
            <div  class="col-sm-6">
              <button type="btn" class="btn btn-primary" (click)="deleteconformation(deleteKey,deleteIndex)" >Yes</button>
              <button type="btn" class="btn btn-danger"  (click)="notconformation()">No</button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!--
/////////////////////////////////////Assigned User////////////////////////////////////////////
-->
<div bsModal #assignModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <button type="button" class="close pull-right" aria-label="Close" >
              <span aria-hidden="true">&times;</span>
            </button>
            <p>You are Sucessfully Assigned the Ticket to user ID:- #{{Assigned}}</p>
            <div  class="col-sm-6">

              <button type="btn" class="btn btn-danger"  (click)="closed()">Close</button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--
/////////////////////////////////////////////////Check Assign User//////////////////////////////////////////
-->

<router-outlet></router-outlet>
