

    <!-- Form Name -->
    <h1>Teams Registration Form</h1>
    <!-- Text input-->
    <div >
    </div>
    <form class="form-horizontal">
      <fieldset>

      <div class="form-group">
      <label class="col-md-4 control-label" >Team Name</label>
      <div class="col-md-4">

        <ng-select #ng [allowClear]="true"
                   [items]="teamNames"
                   (data)="refreshValue($event)"
                   (removed)="removed($event)"
                   (typed)="typed($event)"
                   placeholder="No item selected">
        </ng-select>
      </div>
        <div >
          <button name="1" class="btn btn-success" (click)="Search()"  >Search</button>
          <button  type="btn" class="btn btn-primary" (click)=" viewAssociation(loginID)" >Assigned Users</button>

        </div>
    </div>
        <div class="form-group">
          <label class="col-md-4 control-label" >User Type</label>
          <div class="col-md-4">
            <select name="userType" class="form-control" [(ngModel)]="userType">
              <option value="ADMIN">ADMIN</option>
              <option value="TECHNICAL">TECHNICAL</option>
              <option value="HELPLINE">HELPLINE</option>
            </select>
          </div>
        </div>


<!--/////////////////////////////////////////////////-->
    <section class="success" >
      <div class="container">
        <table class="table table-striped" [mfData]="filterCatagory" #mf="mfDataTable" [mfRowsOnPage]="5">
          <thead>
          <tr>
            <th style="width: 20%">
              <mfDefaultSorter by="firstName">First Name</mfDefaultSorter>
            </th>
            <th style="width: 20%">
              <mfDefaultSorter by="lastName">Last Name</mfDefaultSorter>
            </th>
            <th style="width: 20%">
              <mfDefaultSorter by="dob">Dob</mfDefaultSorter>
            </th>
            <th style="width: 20%">
              <mfDefaultSorter by="email">Email</mfDefaultSorter>
            </th>
          </tr>
          </thead>
          <tbody  >
          <tr *ngFor="let item of this.filterUser;let position=index" >
            <td bgcolor="#6495ed">{{item.firstName}}</td>
            <td bgcolor="#6495ed">{{item.lastName}}</td>
            <td bgcolor="#6495ed">{{item.dob}}</td>
            <td bgcolor="#6495ed">{{item.email}}</td>
            <td>
              <button type="button" class="btn btn-default btn-sm" (click)="assign(item.id,selectedTeamName,position)">
                <span class="glyphicon glyphicon glyphicon-check"></span>
              </button>
              <span *ngIf="assigned==1" class="glyphicon glyphicon-ok"></span>

            </td>

          </tr>
          </tbody>


          <tfoot>
          <tr>
            <td colspan="4">
              <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
            </td>
          </tr>
          </tfoot>
        </table>
      </div>
    </section>
<!--////////////////////////////////////////////////////////-->

    <!-- Button (Double) -->




  </fieldset>
</form>
    <div bsModal #assignModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-body">
            <div class="container">
              <div class="row">
                <button type="button" class="close pull-right" aria-label="Close" >
                  <span aria-hidden="true">&times;</span>
                </button>
                <p>Please Select any Team:- #</p>
                <div  class="col-sm-6">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div bsModal #success="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-body">
            <div class="container">
              <div class="row">
                <button type="button" class="close pull-right" aria-label="Close" >
                  <span aria-hidden="true">&times;</span>
                </button>
                <p>You are successfully Assigned to Team:- #{{selectedTeamName}} with User Id{{AssignedPersonId}}</p>
                <div  class="col-sm-6">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
